<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61477570914-4hka7qilmf6k5cbava102sff9gmsleo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61477570914-4hka7qilmf6k5cbava102sff9gmsleo1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61477570914-injbe1cc43j17hbnn05l0f62hfc7c4up.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX6J22kUbT4jDo-JtDU0LECX6rjDrRJlU</string>
	<key>GCM_SENDER_ID</key>
	<string>61477570914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wiz.treeme</string>
	<key>PROJECT_ID</key>
	<string>treeme-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>treeme-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61477570914:ios:aa22efe6d553185125043b</string>
	<key>DATABASE_URL</key>
	<string>https://treeme-chat-default-rtdb.firebaseio.com</string>
</dict>
</plist>